# macOS
.DS_Store

# IntelliJ
.idea/
*.iml

# Build output
target/

# Logs
*.log

.env
.env.*
!.env.example

# Terraform generated and local files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc